@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Montserrat:ital,wght@0,100;0,400;0,800;1,500;1,600&family=Poppins:ital,wght@1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body{
  background-color:#242222;
}
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size:14px;
}
li a:hover {
  text-decoration: underline;
}
.grid{
  height:23px;
  position:relative;
  bottom:4px;
}
.signbutton{
  background-color: #4885ed;
  color: #fff;
  border:none;
  border-radius:3px;
  padding:7px 10px;
  position:relative;
  bottom:7px;
  font-weight:bold;
}
.logo{
  display: flex;
  margin-top:150px;
  margin-bottom:20px;
  margin-left: 440px;
}

.logo h2{
  
  color: #dcdcdc;
  font-weight: 900;
  font-size: 80px; 
}
.logo h2.second{
  color:#cb4154;
}

.bar{
  
  width:575px;
  border-radius:30px;
  background-color: #3d3b3b;
}
.bar:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.bar:focus-within{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:20px;
  font-weight: 300;
  outline: none;
  background:transparent;
  color: #ffff;
  border-radius: 10px;

  padding:30px;
  
}
.voice{
  height:30px;
  position:relative;
  top:9px;
  left:25px;
}
.buttons{
  margin-top:30px;
}
.button{
  background-color: rgb(49, 45, 45);
  border:none;
  color:#ffff;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  margin-right: 20px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  
}

/* beta.js*/

.bet{
  display: flex;
  flex-direction: column;
  margin:0px 0px 0px 90px;
}

.beta-nav{
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  max-width: 960px;
  margin-top:50px
  
}
.beta .logo-beta{
  display: flex;
  margin-top: 5px;
}
.beta .logo-beta h2{
  
  color: #dcdcdc;
  font-weight: 900;
  font-size: 40px;

}
.beta .logo-beta h2.second-h{
  color:#cb4154;
}
.beta .bar {
margin-left: 45px;
}
.contain .content{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* card.js*/
section.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-right: 200px;
  
}

 .card-p a{
  color: whitesmoke;
  text-decoration: none;
  font-size: small;
  height: 10px;
}
.card-h{
  margin-top: 5px;
}
.card-h a{
  color:#6495ed ;
  text-decoration: none;
}
.card-d{
  color: #f5f5f5;
  line-height: 25px;
  margin-top: 5px;
}
.card-h a:hover{
  text-decoration: underline;
}